<mat-card class="disclaimer-card" role="note">
  <mat-card-content>
    <div class="disclaimer-inner">
      <mat-icon class="disclaimer-icon">info_outline</mat-icon>
      <div>
        <h3 class="disclaimer-title">Descargo de Responsabilidad</h3>
        <p>
          Este prototipo es para evaluación en el proceso de selección. Es
          importante aclarar que no existe relación directa entre la Universidad
          del Rosario de Colombia, y que el Hackathon es solo ilustrativo.
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
